{{template "base" .}}

{{define "title"}}Articles{{end}}

{{define "header"}}{{end}}

{{define "breadcrumb"}}
<ul class="breadcrumb">
	<li><a href="../">Home</a></li>
	<li>Articles</li>
</ul> 
{{end}}


{{define "main"}}
  <h2>Articles</h2>
  <a href="./go-talking-to-java">Go talking to Java, Part 1</a>
{{end}}
