{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "header"}}Brian Thomas{{end}}

{{define "main"}}
  <div class="list">
    <a href="./adem">Adem relations calculator</a>
    <br><a href="https://github.com/swixi">Github</a>
  </div>

  <h2>Papers</h2>
  <ul>
   <li><a href="https://doi.org/10.1137/16M1086236">Hadwiger’s Conjecture for Graphs with Forbidden Holes</a>, published in SIAM J. Discrete Math. (2017), joint with Zi-Xia Song</li>
   <li><a href="https://dx.doi.org/10.4310/HHA.2021.v23.n2.a21">The P<sub>2</sub><sup>1</sup> Margolis homology of connective topological modular forms</a>, published in Homology, Homotopy and Applications (2021), joint with Prasit Bhattacharya and Irina Bobkova</li>
   <li><a href="https://doi.org/10.18130/v3-bhbp-ky18">Dyer-Lashof operations as extensions, and an application to H<sub>*</sub>(BU)</a>, thesis (2019)</li> 
   </ul>
{{end}}
